PORT=3000
DB_HOST=localhost
DB_USER=root
DB_PASSWORD=yourpassword //change it with your my sql password
DB_NAME=SUAPDB 
JWT_SECRET=your_secret //enter any thing like thisismysecertstring
EMAIL_NAME=email //enter your email
EMAIL_PASS=email password //enter your email app password